        <!-- Header -->
            <header class="header-13">
    <div class="container">
        <div class="row">
            <div class="col-sm-11 col-sm-offset-1">
                <a class="brand" href="index.html"><img src="common-files/icons/logo.png" width="307" height="193" alt="Enroutify Logo" /> </a>
            </div>
        </div>
    </div>
</header>
<section class="header-13-sub v-center bg-midnight-blue">
    <div>
        <div class="background">&nbsp;</div>
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1">
                    <h3>We are about to make you easier to find by colleagues, friends and family.</h3>
                    <p class="lead">Enroutify plots a route and generate driving directions to the locations you share. Whether it is a party, meeting or a night out with friends, you can share the location securely.</p> <br />
                    <div class="row">
                    <div class="subscribe-form col-sm-12">
                        <form action="//enroutify.us9.list-manage.com/subscribe/post?u=ff5c28371e854bf88d6817240&amp;id=5e01166247" method="post" target="_blank">
                            <div class="input-group">
                                <input id="email" type="email" name="EMAIL" class="form-control" placeholder="Enter Your Email Address" required="yes" />
                                <span class="input-group-btn">
                                    <button id="subscribe" class="btn btn-primary" type="submit"><span class="fui-check ic"></span> <span class="tx">Sign Up</span></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="social">
                <span class="facebook">
                <div class="fb-like" data-href="https://www.facebook.com/enroutify" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                </span>
                <span class="twitter">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://enroutify.me" data-via="enroutify" data-related="enroutify" data-hashtags="EnroutifyMe">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</span>
<span class="gplus">
<!-- Place this tag where you want the +1 button to render. -->
<div class="g-plusone" data-size="tall" data-annotation="none" data-href="http://enroutify.me/"></div>
</span>
                    </div>
                </div>
                <div class="col-sm-4 col-sm-offset-1">
                    <img src="common-files/img/header/iphone.png" class="hidden-xs" alt="Enroutify Mobile App" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content -->
<section class="content-27 bg-clouds">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <img src="common-files/icons/Compas@2x.png" width="224" height="223" alt="Enroutify compass" />
            </div>
            <div class="col-sm-6">
                <h3>About Enroutify</h3>
                <p>In countries where the street addressing system is poor, locating an address could be difficult for people and businesses.</p>
                <p>Enroutify is the solution to locating addresses in places without good addressing systems.
It is a solution where users can share locations digitally, generating a GPS coordinate and a driving direction securely.
                </p>
                <div class="btns">
                    <a class="btn btn-inverse" href="#">
                        <span>Coming Soon</span></a>
                    <a id="apple" class="btn btn-inverse" href="#"><span class="fui-apple"> </span>
                        <span>Appstore</span></a>                        
                    <a id="android" class="btn btn-inverse" href="#"><span class="fui-android"> </span>
                        <span>Google Play</span></a>
                    <a id="microsoft" class="btn btn-inverse" href="#"><span class="fui-microsoft"> </span> <span>Windows Store</span></a>
                    <a id="blackberry" class="btn btn-inverse" href="#"><img src="images/bb.png" class="bb" width="35" height="24" /><img src="images/bbw.png" class="bbw" width="35" height="24" />
                        <span>Blackberry App World</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact -->
<section class="contacts-4">
    <div class="container">
        <div class="content">
            <div class="social-btns">
                <a id="twitter" href="https://twitter.com/enroutify">
                    <div class="fui-twitter"></div>
                    <div class="fui-twitter"></div>
                </a>
                <a id="facebook" href="https://www.facebook.com/enroutify">
                    <div class="fui-facebook"></div>
                    <div class="fui-facebook"></div>
                </a>
                <a id="googleplus" href="https://www.google.com/+EnroutifyMePlus">
                    <div class="fui-googleplus"></div>
                    <div class="fui-googleplus"></div>
                </a>
            </div>
            <h3>Get in touch with us</h3>
            <div class="links">
                <a id="phone" href="tel:+2348056552980">+234 805 655 2980</a><br />
                <a id="email" href="mailto:info@enroutify.me">info@enroutify.me</a>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<footer class="footer-4 bg-midnight-blue" ng-include="'templates/footer.html'">
    
</footer>