<img src="images/applogo.png" width="512" height="512" />
  <button class="btn btn-positive hide"><i class="icon ion-person"></i>svsdfvsdvaesvaevaevev</button>
  <button class="btn btn-positive hidden"><i class="icon ion-location"></i></button>
  <button class="btn btn-positive hidden"><i class="icon ion-star"></i></button>
  <button class="btn btn-dark" ng-click="refreshMap()"><span class="glyphicon glyphicon-refresh"></span></button>
  <button class="btn btn-positive" ng-click="logout()"><span class="glyphicon glyphicon-lock"></span></button>