<img src="images/applogo.png" width="512" height="512" />
<button class="btn btn-positive" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-road"></span> <span class="hidden-xs">Directions</span></button>
<button class="btn btn-positive" ng-click="refreshMap()"><span class="glyphicon glyphicon-refresh"></span> <span class="hidden-xs">Refresh</span></button>
<button class="btn btn-dark" ng-click="logout()"><span class="glyphicon glyphicon-lock"></span> <span class="hidden-xs">Log Out</span></button>
